<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verfication</title>
</head>
<body>
    <h1>Verification Of Registration</h1>
    <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Hall</th>
                  <th>Room</th>
                  <th>Gender</th>
              </tr>
            </thead>
    
            <tbody>
                <%data.forEach(function(item){%>
                    <tr>
                            <td><%=item.name%></td>
                            <td><%=item.halls%></td>
                            <td><%=item.room%></td>
                            <td><%=item.gender%></td>
                          </tr>
                <%})%>
              
              
            </tbody>
          </table>
</body>
</html>